<%- include('../template/cabecera') %>

    <div class="container">
        <a class="btn btn-primary my-4" href="/api/mascotas/crear">
            Crear nueva
        </a>
        <% if(mascotas.length > 0) { %>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            <% mascotas.forEach(mascota =>{  %>
                      <tr>
                        <th scope="row"><%=mascota.id%></th>
                        <td><%=mascota.nombre%></td>
                        <td><%=mascota.descripcion%></td>
                        <td><a class="btn btn-primary" href="/api/mascota/<%=mascota.id%>">Editar</a>
                            <button class="btn btn-danger" onclick="eliminar('<%=mascota.id%>')">Eliminar</button></td>
                      </tr>
            <% }) %>
            </tbody>
        </table>
        <% } %>
    </div>
    <script>
           async function eliminar(id){
            try {
                const data = await fetch(`/api/mascota/${id}`,{method:'delete'});
                const res = await data.json();
                if(res.estado){
                    window.location.href = '/api/mascotas';
                }else{
                    console.log(res);
                }
            } catch (error) {
                console.log(error);
            }
        }
    </script>
<%- include('../template/footer') %>